@import "~@fortawesome/fontawesome-svg-core/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@layer components {
  section {
    @apply mx-6;
  }
  p,
  h1 {
    @apply font-poppins;
  }
  .mobile-container {
    @apply mx-6;
  }
  .mobile-price {
    @apply text-3xl font-bold;
  }
  .mobile-heading-b {
    @apply text-lg font-bold;
  }
  .mobile-heading {
    @apply text-lg;
  }
  .mobile-title-b {
    @apply text-base font-bold;
  }
  .mobile-title {
    @apply text-base;
  }
  .mobile-subtitle-b {
    @apply text-sm font-bold;
  }
  .mobile-subtitle {
    @apply text-sm;
  }

  .tab {
    @apply text-white mobile-subtitle-b border-2 border-white bg-secondary py-1 px-3 rounded-full;
  }

  .active-tab {
    @apply text-white mobile-subtitle-b border-2 border-white bg-pink py-1 px-3 rounded-full;
  }
  /* Bottom Nav Styling */
  .bottom-nav-items {
    @apply flex flex-col justify-center md:flex-row md:align-middle;
  }
  .bottom-nav-text {
    @apply mt-1 text-center text-xs transition-all duration-300 hover:text-pink/90 md:text-2xl;
  }
  .bottom-nav-items #profPict,
  .bottom-nav-items svg {
    @apply md:scale-150 md:mr-4;
  }
  .moreBtn {
    @apply bg-secondary border-2 text-xs md:text-xl md:py-2 md:px-4 border-white rounded-full py-1 px-3 text-white hover:bg-white hover:text-purple hover:border-purple transition-all duration-200;
  }
}
